@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@value --greyLight-1,--greyLight-2 , --white , --primary,--primary-light,--primary-dark from '../../common/colors.css';

.home {
  width: 90%;
  height: 75vh;
  margin: 2rem 0;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem --greyLight-2, -0.2rem -0.2rem 1.8rem --white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name,
.desc {
  margin: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 90%;
}
.input {
  border: none;
  outline: none;
  border-bottom: 2px solid --primary;
  height: 2rem;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;
  color: --primary-dark;
  text-align: center;
}

.btn {
  outline: none;
  border: none;
  height: 2.5rem;
  margin: 1.5rem;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  max-width: 15rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem --greyLight-2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: --primary;
  box-shadow: inset 0.2rem 0.2rem 1rem --primary-light,
    inset -0.2rem -0.2rem 1rem --primary-dark,
    0.3rem 0.3rem 0.6rem --greyLight-2;
  color: --greyLight-1;
}
.btn__primary:hover {
  color: --white;
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem --primary-dark,
    inset -0.2rem -0.2rem 1rem --primary-light;
}
.kakao_ad_area {
  display: none;
}
