@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@value --greyLight-1,--greyLight-2,--greyDark,--greyVeryDark, --white , --primary,--primary-light,--primary-dark from '../../common/colors.css';

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  height: 2.5rem;
  margin: 3rem;

  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem --greyLight-2;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: --primary;
  box-shadow: inset 0.2rem 0.2rem 1rem --primary-light,
    inset -0.2rem -0.2rem 1rem --primary-dark,
    0.3rem 0.3rem 0.6rem --greyLight-2;
  color: --greyLight-1;
}
.btn__primary:hover {
  color: --white;
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem --primary-dark,
    inset -0.2rem -0.2rem 1rem --primary-light;
}

.openedBox {
  text-align: center;
}
h2 {
  margin: 0;
}
.testProgress {
  margin: 1.5rem;
}
.testPer {
  font-size: 0.8rem;
}
.topFive {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.myMbtiPer {
  margin: 2.5rem;
  font-size: 0.8rem;
}
