.result {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5ffd5;
  box-sizing: content-box;
  margin: 5rem 0;
}
.nameBox {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.name {
  position: absolute;
  top: 3rem;
}
.resultIntro {
  text-align: center;
  font-size: 1rem;
}
.resultRes {
  margin: 1rem;
}
.resultDesc {
  margin: 1rem 1.5rem;
  font-size: 0.8rem;
  background-color: #81ec9f;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  color: #2d8168;
}
.resultDescription {
  white-space: pre-wrap;
  margin: 0.5rem 1.5rem;
}
