@value --greyLight-1,--greyLight-2,--greyDark,--greyVeryDark, --white , --primary,--primary-light,--primary-dark from '../../common/colors.css';

.result {
  width: 90%;
  height: auto;
  margin: 2rem 0;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem --greyLight-2, -0.2rem -0.2rem 1.8rem --white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.resultIntro {
  text-align: center;
  font-size: 1rem;
  margin-top: 3rem;
}
.resultRes {
  margin: 1rem;
}
.resultDesc {
  font-size: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem --greyLight-2,
    inset -0.2rem -0.2rem 0.5rem --white;
  background: none;
  font-family: inherit;
  color: --greyVeryDark;
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
  min-height: 40%;
}
.resultDescription {
  white-space: pre-wrap;
  margin: 0.5rem 1.5rem;
}
