@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  background-color: #54be9f;
  font-family: "Noto Sans KR", sans-serif;

  /* f3e9e7; */
}
* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.6rem;
}
