@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@value --greyLight-1 from './common/colors.css';

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background: --greyLight-1;
}
* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
  cursor: default;
}
h2 {
  font-size: 1rem;
  cursor: default;
}
h3 {
  font-size: 0.6rem;
  cursor: default;
}
button {
  cursor: pointer;
}
