@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@value --greyLight-1,--greyLight-2,--greyDark,--greyVeryDark, --white , --primary,--primary-light,--primary-dark from '../../common/colors.css';

.QMbti {
  width: 90%;
  height: 75vh;
  margin: 2rem 0;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem --greyLight-2, -0.2rem -0.2rem 1.8rem --white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.desc {
  color: --greyVeryDark;
}

.mbtiBox {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem 4rem;
  margin-bottom: 2rem;
}
.mbti {
  box-shadow: 0.3rem 0.3rem 0.6rem --greyLight-2, -0.2rem -0.2rem 0.5rem --white;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem --greyLight-2,
    inset -0.2rem -0.2rem 0.5rem --white;
  background: none;
}

.resultBtn {
  outline: none;
  border: none;
  background-color: #f7bf20;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
