.QMbti {
  width: 90%;
  height: 70%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #54be9f;
  position: relative;
}
.desc {
  position: absolute;
  top: 0.1rem;
  text-align: center;
}
.mbtiBox {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem 4rem;
  margin-bottom: 2rem;
}
.mbti {
  background-color: #c5ffd5;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.mbti:hover {
  background-color: #78d191;
}

.resultBtn {
  outline: none;
  border: none;
  background-color: #f7bf20;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
}
