@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

.QMbti {
  width: 90%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #54be9f;
  position: relative;
}
.desc {
  color: #c5ffd5;
}

.mbtiBox {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem 4rem;
  margin-bottom: 2rem;
}
.mbti {
  background-color: #c5ffd5;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.mbti:hover {
  background-color: #78d191;
}
.actived {
  width: 200px;
}

.resultBtn {
  outline: none;
  border: none;
  background-color: #f7bf20;
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
